*.rar
*.o
*.d
*.crf
*.htm
*.dep
*.map
*.bak
*.lnp
*.lst
*.ini
*.iex
*.sct
*.scvd
*.dbg*
*.uvguix.*
*Log.*
*.dep
*.htm
*.axf
*.htm
*.hex

#忽略.gitignore根目录下的文件夹，根据自己的需要修改
RTE/
Templates/
Examples/
OBJ/

#不能忽略的文件
!*.uvprojx
!*.h
!*.c
————————————————



*.uvoptx
